<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	showExpandButton="true"
	showOpenButton="false"
	showThumbsButton="false"
	useThumbDots="false"
	useFullscreenExpand="true"
	galleryHeight="600px"
	backgroundColor="rgba(34,34,34,1)"

>
  <image imageURL="img/nogal-screenshot_0000.jpg"
	thumbURL="thumbs/nogal-screenshot_0000.jpg"
	linkURL="img/nogal-screenshot_0000.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0000.jpg">
    <title><![CDATA[nogal-screenshot_0000]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0001.jpg"
	thumbURL="thumbs/nogal-screenshot_0001.jpg"
	linkURL="img/nogal-screenshot_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0001.jpg">
    <title><![CDATA[nogal-screenshot_0001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0002.jpg"
	thumbURL="thumbs/nogal-screenshot_0002.jpg"
	linkURL="img/nogal-screenshot_0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0002.jpg">
    <title><![CDATA[nogal-screenshot_0002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0003.jpg"
	thumbURL="thumbs/nogal-screenshot_0003.jpg"
	linkURL="img/nogal-screenshot_0003.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0003.jpg">
    <title><![CDATA[nogal-screenshot_0003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0004.jpg"
	thumbURL="thumbs/nogal-screenshot_0004.jpg"
	linkURL="img/nogal-screenshot_0004.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0004.jpg">
    <title><![CDATA[nogal-screenshot_0004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0005.jpg"
	thumbURL="thumbs/nogal-screenshot_0005.jpg"
	linkURL="img/nogal-screenshot_0005.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0005.jpg">
    <title><![CDATA[nogal-screenshot_0005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0006.jpg"
	thumbURL="thumbs/nogal-screenshot_0006.jpg"
	linkURL="img/nogal-screenshot_0006.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0006.jpg">
    <title><![CDATA[nogal-screenshot_0006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0007.jpg"
	thumbURL="thumbs/nogal-screenshot_0007.jpg"
	linkURL="img/nogal-screenshot_0007.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0007.jpg">
    <title><![CDATA[nogal-screenshot_0007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0008.jpg"
	thumbURL="thumbs/nogal-screenshot_0008.jpg"
	linkURL="img/nogal-screenshot_0008.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0008.jpg">
    <title><![CDATA[nogal-screenshot_0008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0009.jpg"
	thumbURL="thumbs/nogal-screenshot_0009.jpg"
	linkURL="img/nogal-screenshot_0009.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0009.jpg">
    <title><![CDATA[nogal-screenshot_0009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0010.jpg"
	thumbURL="thumbs/nogal-screenshot_0010.jpg"
	linkURL="img/nogal-screenshot_0010.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0010.jpg">
    <title><![CDATA[nogal-screenshot_0010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0011.jpg"
	thumbURL="thumbs/nogal-screenshot_0011.jpg"
	linkURL="img/nogal-screenshot_0011.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0011.jpg">
    <title><![CDATA[nogal-screenshot_0011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0012.jpg"
	thumbURL="thumbs/nogal-screenshot_0012.jpg"
	linkURL="img/nogal-screenshot_0012.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0012.jpg">
    <title><![CDATA[nogal-screenshot_0012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0013.jpg"
	thumbURL="thumbs/nogal-screenshot_0013.jpg"
	linkURL="img/nogal-screenshot_0013.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0013.jpg">
    <title><![CDATA[nogal-screenshot_0013]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0014.jpg"
	thumbURL="thumbs/nogal-screenshot_0014.jpg"
	linkURL="img/nogal-screenshot_0014.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0014.jpg">
    <title><![CDATA[nogal-screenshot_0014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0015.jpg"
	thumbURL="thumbs/nogal-screenshot_0015.jpg"
	linkURL="img/nogal-screenshot_0015.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0015.jpg">
    <title><![CDATA[nogal-screenshot_0015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0016.jpg"
	thumbURL="thumbs/nogal-screenshot_0016.jpg"
	linkURL="img/nogal-screenshot_0016.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0016.jpg">
    <title><![CDATA[nogal-screenshot_0016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0017.jpg"
	thumbURL="thumbs/nogal-screenshot_0017.jpg"
	linkURL="img/nogal-screenshot_0017.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0017.jpg">
    <title><![CDATA[nogal-screenshot_0017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0018.jpg"
	thumbURL="thumbs/nogal-screenshot_0018.jpg"
	linkURL="img/nogal-screenshot_0018.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0018.jpg">
    <title><![CDATA[nogal-screenshot_0018]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0019.jpg"
	thumbURL="thumbs/nogal-screenshot_0019.jpg"
	linkURL="img/nogal-screenshot_0019.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0019.jpg">
    <title><![CDATA[nogal-screenshot_0019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0020.jpg"
	thumbURL="thumbs/nogal-screenshot_0020.jpg"
	linkURL="img/nogal-screenshot_0020.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0020.jpg">
    <title><![CDATA[nogal-screenshot_0020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0021.jpg"
	thumbURL="thumbs/nogal-screenshot_0021.jpg"
	linkURL="img/nogal-screenshot_0021.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0021.jpg">
    <title><![CDATA[nogal-screenshot_0021]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0022.jpg"
	thumbURL="thumbs/nogal-screenshot_0022.jpg"
	linkURL="img/nogal-screenshot_0022.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0022.jpg">
    <title><![CDATA[nogal-screenshot_0022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0023.jpg"
	thumbURL="thumbs/nogal-screenshot_0023.jpg"
	linkURL="img/nogal-screenshot_0023.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0023.jpg">
    <title><![CDATA[nogal-screenshot_0023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0024.jpg"
	thumbURL="thumbs/nogal-screenshot_0024.jpg"
	linkURL="img/nogal-screenshot_0024.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0024.jpg">
    <title><![CDATA[nogal-screenshot_0024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0025.jpg"
	thumbURL="thumbs/nogal-screenshot_0025.jpg"
	linkURL="img/nogal-screenshot_0025.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0025.jpg">
    <title><![CDATA[nogal-screenshot_0025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0026.jpg"
	thumbURL="thumbs/nogal-screenshot_0026.jpg"
	linkURL="img/nogal-screenshot_0026.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0026.jpg">
    <title><![CDATA[nogal-screenshot_0026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0027.jpg"
	thumbURL="thumbs/nogal-screenshot_0027.jpg"
	linkURL="img/nogal-screenshot_0027.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0027.jpg">
    <title><![CDATA[nogal-screenshot_0027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0028.jpg"
	thumbURL="thumbs/nogal-screenshot_0028.jpg"
	linkURL="img/nogal-screenshot_0028.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0028.jpg">
    <title><![CDATA[nogal-screenshot_0028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0029.jpg"
	thumbURL="thumbs/nogal-screenshot_0029.jpg"
	linkURL="img/nogal-screenshot_0029.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0029.jpg">
    <title><![CDATA[nogal-screenshot_0029]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0030.jpg"
	thumbURL="thumbs/nogal-screenshot_0030.jpg"
	linkURL="img/nogal-screenshot_0030.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0030.jpg">
    <title><![CDATA[nogal-screenshot_0030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0031.jpg"
	thumbURL="thumbs/nogal-screenshot_0031.jpg"
	linkURL="img/nogal-screenshot_0031.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0031.jpg">
    <title><![CDATA[nogal-screenshot_0031]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0032.jpg"
	thumbURL="thumbs/nogal-screenshot_0032.jpg"
	linkURL="img/nogal-screenshot_0032.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0032.jpg">
    <title><![CDATA[nogal-screenshot_0032]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0033.jpg"
	thumbURL="thumbs/nogal-screenshot_0033.jpg"
	linkURL="img/nogal-screenshot_0033.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0033.jpg">
    <title><![CDATA[nogal-screenshot_0033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0034.jpg"
	thumbURL="thumbs/nogal-screenshot_0034.jpg"
	linkURL="img/nogal-screenshot_0034.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0034.jpg">
    <title><![CDATA[nogal-screenshot_0034]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0035.jpg"
	thumbURL="thumbs/nogal-screenshot_0035.jpg"
	linkURL="img/nogal-screenshot_0035.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0035.jpg">
    <title><![CDATA[nogal-screenshot_0035]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0036.jpg"
	thumbURL="thumbs/nogal-screenshot_0036.jpg"
	linkURL="img/nogal-screenshot_0036.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0036.jpg">
    <title><![CDATA[nogal-screenshot_0036]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0037.jpg"
	thumbURL="thumbs/nogal-screenshot_0037.jpg"
	linkURL="img/nogal-screenshot_0037.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0037.jpg">
    <title><![CDATA[nogal-screenshot_0037]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0038.jpg"
	thumbURL="thumbs/nogal-screenshot_0038.jpg"
	linkURL="img/nogal-screenshot_0038.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0038.jpg">
    <title><![CDATA[nogal-screenshot_0038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0039.jpg"
	thumbURL="thumbs/nogal-screenshot_0039.jpg"
	linkURL="img/nogal-screenshot_0039.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0039.jpg">
    <title><![CDATA[nogal-screenshot_0039]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0040.jpg"
	thumbURL="thumbs/nogal-screenshot_0040.jpg"
	linkURL="img/nogal-screenshot_0040.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0040.jpg">
    <title><![CDATA[nogal-screenshot_0040]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="img/nogal-screenshot_0041.jpg"
	thumbURL="thumbs/nogal-screenshot_0041.jpg"
	linkURL="img/nogal-screenshot_0041.jpg"
	linkTarget="_blank"
	sourcePath="C:\github\ceviz-website\img\nogal-screenshot_0041.jpg">
    <title><![CDATA[nogal-screenshot_0041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>